# Country Data table and functions

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
def sin_par(country):
    
    return re.sub(r' \([^)]*\)', '', country)

In [3]:
def sin_num(country):
    
    return re.sub(r'\d', '', country)

In [4]:
def main_tab():
    # YOUR CODE HERE
    
    ##Energy dataframe
    
    cols = {"Unnamed: 2": "Country", "Petajoules": "Energy Supply",
        "Gigajoules": "Energy Supply per Capita", "%": "% Renewable"}
    
    data1 = pd.read_excel("assets/Energy Indicators.xls", skiprows=17, skipfooter=38)

    Energy = data1.drop(["Unnamed: 0", "Unnamed: 1"], axis=1).rename(columns=cols).replace("...", np.nan)
    
    Energy["Energy Supply"] = Energy["Energy Supply"].apply(lambda x: pow(10,6)*x)

    Energy["Country"] = Energy["Country"].apply(sin_par).apply(sin_num).replace({"Republic of Korea": "South Korea", "United States of America": "United States", 
                                                                             "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"})
    
    ##GPD dataframe
    
    colcn = {"Country Name": "Country"}

    GDP = pd.read_csv("assets/world_bank.csv", skiprows=4).replace({"Korea, Rep.": "South Korea", "Iran, Islamic Rep.": "Iran",
                                                                "Hong Kong SAR, China": "Hong Kong"}).rename(columns=colcn)
    
    ##Scimago dataframe
    
    ScimEn = pd.read_excel("assets/scimagojr-3.xlsx")
    
    
    #merged dataframe
    
    
    merged = pd.merge(Energy, GDP, how="left", on="Country")

    merged2 = pd.merge(merged, ScimEn, how="left", on="Country").set_index("Country")

    colsf = ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations', 'Citations per document', 'H index',
         'Energy Supply', 'Energy Supply per Capita', '% Renewable', '2006', '2007',
         '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']

    merged3 = merged2[colsf].sort_values(by=["Rank"]).head(15)

    return(merged3)

# Correlation between Electric energy supply per capita and number of citeable papers

In [5]:
def correlation():
    # YOUR CODE HERE
    
    datosfin = main_tab()
    
    datosfin["Pop est"] = datosfin["Energy Supply"]/datosfin["Energy Supply per Capita"]
    
    datosfin["Citable per Capita"] = datosfin["Citable documents"]/datosfin["Pop est"]
    
    corr9 = datosfin["Citable per Capita"].corr(datosfin["Energy Supply per Capita"])
    
    return(corr9)

In [6]:
correlation()

0.7940010435442946

# Sum, mean, and std deviation for the estimated population of each country by continent

In [7]:
def cont_stat():
    # YOUR CODE HERE
    
    datosfin = main_tab()
    
    datosfin["Pop est"] = datosfin["Energy Supply"]/datosfin["Energy Supply per Capita"]
    
    ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
    
    s = pd.Series(ContinentDict)
    
    datosfin["Continent"] = s
    
    popdat = datosfin[["Pop est", "Continent"]].pivot_table(values="Pop est",
                                               index="Continent",
                                               aggfunc=["count", np.sum, np.mean, np.std])  #.fillna(0)
    
    indexn = ["Asia", "Australia", "Europe", "North America", "South America"]

    popdatstack = popdat.stack()

    popdatstack.index = indexn
    
    popdatstack = popdatstack.rename(columns={"count": "size"})

    return(popdatstack)

In [8]:
cont_stat()

               size           sum          mean           std
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN